<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/users" [routerLinkActive]="['active']" class="nav-link">
          <fa-icon [icon]="users_icon"></fa-icon>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" [routerLinkActive]="['active']" class="nav-link">
          <fa-icon [icon]="productsIcon"></fa-icon>
          Products
        </a>
      </li>
    </ul>
  </div>
</nav>
